<h1 class="hit">
	Welcome to the Silvernightfall's Casino
</h1>
<h2 class="round">
	Would you like to play a round of Blackjack?
</h2>
<form action='/play_round' method='post' class="navbar-form navbar-center">
	<div class="buttons">
		<button name="play_round" value="yes" type="submit" class="myButton">Yes
		</button>
		<button name="play_round" value="no" type="submit" class="myButton">
			No
		</button>
	</div>
</form>
